<!DOCTYPE html>
<!-- Youtube Best Vid&eacute Playlist -->
<div id="youtubeVideosDiv" class="col-md-12">
    <!-- Les meilleurs vid&eacute;os regroup&eacute;s dans une m&icirc;me playlist -->
    <div class="videoDivTitle col-md-12">
        Divers - On aime, on partage
    </div>
    <div id="bestPlaylistVideos" class="col-md-12"></div>
</div>

<!-- Template pour les vid&eacute;os youtube -->
<a id="video-hidden-template" target="_blank" title="Voir la vid&eacute;o sur Youtube" class="video col-md-6">
    <img class="video_thumbnail col-md-4" />
    <div class="video_info col-md-8">
        <div class="video_title col-md-12"></div>
        <div class="video_description"></div>
        <div class="stream_date"></div>
    </div>
</a>

<!-- Template pour les sections des cha&icirc;nes youtube -->
<div id="channel-hidden-template" class="col-md-12">
    <!-- Les derni&egrave;res vid&eacute;os de Kl&eacute; -->
    <div class="videoDivTitle col-md-12"></div>
    <div class="channelVideos col-md-12"></div>
</div>
